.header h1{
  display: inline;
  font-family: helvetica;
  vertical-align:15px;
}
.raggruppamento{
  background-color: lightgrey;
}
.main{
  background-color: white;
  width: 80%;
  margin-left: 10%;
  margin-right: 10%;
  margin-top: 5%;
  display: inline-block;
  border-radius: 10px;
}
.spaziatura{
  margin-left: 5%;
}

.colorato{
  margin-left: 5%;
  background-color:rgb(0, 182, 255);
  color: white;
  text-align: center;
  width: 12%;
  height: 15%;
  border: 1px solid lightblue;
  border-radius: 10%;
}
.noncolorato {
  /* width: 15%;
  height: 12%; */
  text-align: center;
  background-color: white;
  border: 1px solid black;
  border-radius: 10%;
}


 h2:before{
  content:"\25be";
   font-size: 25px;
  }
  .simboli:before{
    content: "\2713";
    color: lightgreen;
    border: 1px solid lightgreen;
    border-radius: 10px;
    font-size: 10px;
    padding-left: 2px;
    padding-right: 2px;
  }
  #x:before{
    content:"\2573";
    color: red;
    border: 1px solid red;
    border-radius: 10px;
    font-size: 9px;
    padding-left: 1px;
    padding-right: 1px;
  }
  li{
    list-style: none;
  }
  .lista{
    display: inline-block;
  }
  #purple{
    background-color:rgb(140, 0, 255);
    color: white;
    border: 1px solid purple;
    border-radius: 10px;
  }
  #green{
    background-color:rgb(62, 193, 127);
    border: 1px solid green;
    border-radius: 10px;
    color: white;

  }
  #orange{
    background-color: orange;
    border: 1px solid orange;
    border-radius: 10px;
    color: white;
  }
  #pink{
    background-color:rgb(234, 28, 231);
    border: 1px solid pink;
    border-radius: 10px;
    color: white;
  }
  #greenn{
    background-color: #d6dc74;
    border: 1px solid #d6dc74;
    border-radius: 10px;
    color: white;

  }
  .blue{
    background-color: rgb(0, 182, 255);
    border: 1px solid lightblue;
    border-radius: 10px;
    color: white;
  }
